<ion-header>
  <ion-toolbar>
    <ion-title>Testing Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #simpleForm="ngForm" (ngSubmit)="getValues(simpleForm.value)">
    <label>Param 1</label> <br />
    <input type="text" name="P1" [(ngModel)]="P1" /><br />
    <input
      type="text"
      name="data1"
      [(ngModel)]="data1"
      placeholder="Add data here"
    /><br />

    <label>Param 2</label> <br />
    <input type="text" name="P2" [(ngModel)]="P2" /><br />
    <input
      type="text"
      name="data2"
      [(ngModel)]="data2"
      placeholder="Add data here"
    /><br />

    <label>Param 3</label> <br />
    <input type="text" name="P3" [(ngModel)]="P3" /><br />
    <input
      type="text"
      name="data3"
      [(ngModel)]="data3"
      placeholder="Add data here"
    /><br />

    <label>Param 4</label> <br />
    <input type="text" ngModel name="P4" [(ngModel)]="P4" /><br />
    <input
      type="text"
      name="data4"
      [(ngModel)]="data4"
      placeholder="Add data here"
    /><br />

    <label>Param 5</label> <br />
    <input type="text" ngModel name="P5" [(ngModel)]="P5" /><br />
    <input
      type="text"
      name="data5"
      [(ngModel)]="data5"
      placeholder="Add data here"
    /><br />

    <label>Param 6</label> <br />
    <input type="text" ngModel name="P6" [(ngModel)]="P6" /><br />
    <input
      type="text"
      name="data6"
      [(ngModel)]="data6"
      placeholder="Add data here"
    /><br />

    <label>Param 7</label> <br />
    <input type="text" ngModel name="P7" [(ngModel)]="P7" /><br />
    <input
      type="text"
      name="data7"
      [(ngModel)]="data7"
      placeholder="Add data here"
    /><br />

    <label>Param 8</label> <br />
    <input type="text" ngModel name="P8" [(ngModel)]="P8" /><br />
    <input
      type="text"
      name="data8"
      [(ngModel)]="data8"
      placeholder="Add data here"
    /><br />

    <label>Param 9</label> <br />
    <input type="text" ngModel name="P9" [(ngModel)]="P9" /><br />
    <input
      type="text"
      name="data9"
      [(ngModel)]="data9"
      placeholder="Add data here"
    /><br />

    <label>Param 10</label> <br />
    <input type="text" ngModel name="P10" [(ngModel)]="P10" /><br />
    <input
      type="text"
      name="data10"
      [(ngModel)]="data10"
      placeholder="Add data here"
    /><br />

    <label>Param 11</label> <br />
    <input type="text" ngModel name="P11" [(ngModel)]="P11" /><br />
    <input
      type="text"
      name="data11"
      [(ngModel)]="data11"
      placeholder="Add data here"
    /><br />

    <label>Param 12</label> <br />
    <input type="text" ngModel name="P12" [(ngModel)]="P12" /><br />
    <input
      type="text"
      name="data12"
      [(ngModel)]="data12"
      placeholder="Add data here"
    /><br />

    <label>Param 13</label> <br />
    <input type="text" ngModel name="P13" [(ngModel)]="P13" /><br />
    <input
      type="text"
      name="data13"
      [(ngModel)]="data13"
      placeholder="Add data here"
    /><br />

    <label>Param 14</label> <br />
    <input type="text" ngModel name="P14" [(ngModel)]="P14" /><br />
    <input
      type="text"
      name="data14"
      [(ngModel)]="data14"
      placeholder="Add data here"
    /><br />

    <label>Param 15</label> <br />
    <input type="text" ngModel name="P15" [(ngModel)]="P15" /><br />
    <input
      type="text"
      name="data15"
      [(ngModel)]="data15"
      placeholder="Add data here"
    /><br />

    <button class="btn">Submit</button>
  </form>
</ion-content>
