.btn-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
#ctn-btn {
  width: 150px;
  height: 40px;
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  border-radius: 10px !important;
  background: linear-gradient(266.99deg, #f980d7, #8686fd) !important;
  margin-top: 28px;
  padding: 0;
  margin-bottom: 5px;
  left: 0px;
  right: 0;
}
