#closeBtn-container {
  position: absolute;
  right: 0px;
  top: -5px;
}

ion-text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #484b9a;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin-top: 20px;
}
