.box1 {
  background: #ffffff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex: 0 0 156px;
  height: 116px;
  padding: 8px;
  margin: 8px;
  font-size: 14px;
  ion-col {
    padding: 0px;
    margin-top: 6px;
    height: 20px;
    width: auto;
  }
}
.power-off {
  text-align: end;
  margin-left: 25px;
  margin-top: 1px;
}
.power-on {
  text-align: end;
  margin-left: 25px;
  margin-top: 1px;
}
.power-default {
  text-align: end;
  margin-left: 25px;
  margin-top: 1px;
}
.box-grid {
  height: 93px;
  width: 122px;
  margin: 1px;
  padding: 0px;
}
.device-name {
  width: 65px;
  height: 16px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin: 10px 7px;
  color: #484b9a;
}
.channel-name {

  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  width: fit-content;
  margin-left: 7px;
  color: #7b7b7b;
}
.plug-box {

  font-style: normal;
  font-weight: 500;
  width: 42px;
  height: 18px;
  font-size: 8px;
  line-height: 9px;
  text-align: center;
  border: 1px solid #ff9a3e;
  box-sizing: border-box;
  border-radius: 10px;
  color: #ff9a3e;
  padding: 3px;
  margin-left: 20px;
  margin-top: 10px;
}
.icon-margin-box1 {
  margin-left: 10px;
}
