<ion-header class="ion-no-border ion-text-center">
  <ion-toolbar>
    <ion-title> Reset Password </ion-title>
    <a class="close-btn" slot="end" (click)="dismiss()">Close</a>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="form">
    <ion-list>
      <ion-item class="ion-no-padding">
        <ion-label position="stacked">Current Password</ion-label>
        <ion-input
          type="text"
          #currentpass
          name="currentPassword"
          [(ngModel)]="currentPassword"
        ></ion-input>
      </ion-item>
      <br />
      <!-- <p>{{ userMemberName }}</p> -->
      <ion-item class="ion-no-padding">
        <ion-label position="stacked">New Password</ion-label>
        <ion-input
          type="text"
          #pass
          name="newPassword"
          [(ngModel)]="newPassword"
        ></ion-input>
      </ion-item>

      <br />

      <app-primary-button
        [primaryBtnText]="primaryBtnText"
        (btnEvent)="updateProfile(pass.value)"
      ></app-primary-button>
    </ion-list>
  </form>
</ion-content>
