ion-title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 23px;
  color: #484b9a;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
}
ion-content {
  height: 80%;
}

ion-list {
  margin: 0 15px;
}
input::placeholder {
  font-size: 0.5em;
}

ion-label {
  color: #8e8e8e !important;
  font-size: 18px !important;
}

ion-input {
  color: #484b9a;
  font-size: 14px;
  font-weight: 400;
  padding: 5px 0 !important;
}

ion-toolbar a {
  position: absolute;
  right: 10px;
  color: #484b9a;
  font-weight: 500;
}

.btn-container {
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
}
#ctn-btn {
  width: 150px;
  height: 40px;
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  border-radius: 10px !important;
  background: linear-gradient(266.99deg, #f980d7, #8686fd) !important;
  margin-top: 35px;
  margin-bottom: 5px;
  left: 0px;
  right: 0;
}
