<ion-item-sliding>
  <ion-item class="ion-no-padding">
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="al-st">
          <fa-icon
            class="global-icon-prop icon-margin-box1 global-device-icon-prop"
            [icon]="[deviceIconsType, deviceIcon]"
          ></fa-icon>
          <p class="device-name">{{ deviceName }}</p>
          <p class="sub-text">{{channelName}} (Plug {{plugNumber}})</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-item-sliding>
