<div class="box1">
  <ion-grid class="box-grid">
    <ion-row>
      <ion-col size="12" class="al-st">
        <fa-icon
          class="global-icon-prop icon-margin-box1 global-device-icon-prop"
          [icon]="['fas', deviceIcon]"
        ></fa-icon>
        <p class="device">{{ deviceName }}</p>
        <p class="sub-text">{{ channelName }} (Plug&nbsp;{{ plugNumber }})</p>
        <div [ngClass]="powerState" class="location" (click)="btnClick()">
          <fa-icon [icon]="['fas', 'power-off']"></fa-icon>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <p class="sub-text-bottom">Tap the button to on/off the device</p>
    </ion-row>
  </ion-grid>
</div>
