<ion-col class="mybox">
  <ion-grid class="ion-no-margin">
    <ion-row>
      <ion-col size="6">
        <fa-icon
          class="global-device-icon-prop icon-margin-box1"
          [icon]="[deviceIconsType, deviceIcons]"
        ></fa-icon>
      </ion-col>
      <ion-col>
        <div [ngClass]="powerState" (click)="btnClick()">
          <fa-icon [icon]="['fas', 'power-off']"></fa-icon>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <p class="device-name">{{ sceneName }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <p class="device-connected-prop">
          {{ channelDeviceConnected }}/{{ channelCapacity }} devices
        </p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="hideManageBtn">
      <ion-col size="12" class="chip-end ion-no-padding">
        <ion-chip fill="outline" class="chips" (click)="buttonClick()">
          <ion-label>Manage </ion-label>&nbsp;
          <fa-icon [icon]="['fas', 'cogs']"></fa-icon>
        </ion-chip>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-col>
