ion-title {
  padding: 0;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-row-gap: 100%;
  grid-template-columns: auto;
  padding: 10px;
  width: 50%;
}

.ion-text-center {
  color: #808080;
}
