<ion-header class="ion-no-border"> </ion-header>
<div class="container">
  <button class="X" (click)="dismiss()">
    <ion-icon name="close" style="font-weight: 900; font-size: 14px"></ion-icon>
  </button>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label class="header">Choose Time</ion-label>
    </ion-list-header>

    <ion-radio-group allow-empty-selection="true">
      <div *ngFor="let item of setTime; let i = index">
        <ion-item class="ion-no-border" lines="none">
          <ion-label>{{ item }} Min</ion-label>
          <ion-radio slot="start" (click)="timeSelected(item)"></ion-radio>
        </ion-item>
      </div>
      <ion-item class="ion-no-border" lines="none">
        <ion-label class="align">Custom</ion-label>

        <ion-datetime
          displayFormat="mm "
          [pickerOptions]="customPickerOptions"
          placeholder=" {{ minute }} min"
          (ionChange)="custom()"
        ></ion-datetime>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <app-primary-button
    [primaryBtnText]="primaryBtnText"
    (btnEvent)="save()"
  ></app-primary-button>
</div>
