ion-content{
  height:100%;
}
.back-btn {
  position: absolute;
  color: #484b9a;
  font-weight: 900;
}

ion-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #484b9a;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  padding: 10px;
}
.notification-icon {
  margin-right: 16px;
  color: #484b9a;
  font-weight: 400;
}
.chips {
  display: flex;
  font-size: 10px;
  text-align: center;
  color: #787df4;
  background: #fff;
  border: 1px solid #787df4;
  height: 25px;
  width: fit-content;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 16px;
}
.chip-end {
  display: flex;
  justify-content: flex-end;
}

ion-fab-button {
  --background: #ff5353 !important;
  width: 40px;
  height: 40px;
}

.home-btn {
  --background: #02055b !important;
}
.fab-sub-btns {
  --background: #02055b !important;
  --background-activated: #02055b !important;
  --box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  --color: white;
  height: 28px;
  width: 28px;
  margin: 3px;
  padding: 0px;
  margin-bottom: 15px;
}
.add-btn-prop {
  // --border:1px solid #787DF4;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}
ion-button {
  // --font-weight: 400;
  --background: #fff;
  --color: #787df4;
  --border-color: #787df4;
  --border-width: 1px;
  --border-radius: 10px;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans";
  --background-hover: #fff;
  --padding: 1px;
  --background-activated: #fff;
}
ion-button ion-icon {
  font-weight: 900;
}
.img-4{
  margin-top: 45px;
}
