label p {
  margin: 0;
  color: #787df4;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
}

.tab-group {
  // margin: 1em auto;
  max-width: 503mm;
  width: 100%;
}

.tab {
  position: relative;
  width: 100%;
}

.tab input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.tab label {
  background: #fff;
  color: #000;
  display: block;
  line-height: 3;
  margin: 0 15px;
  padding-left: 0.5em;
  background: #eaebff;
  border: 1px solid #787df4;
  border-radius: 10px;
  padding-bottom: 10px;
}

.tab-content {
  top: -10px;
  position: relative;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s;
  border: 1px solid #787df4;
  margin: 0px 15px !important;
  border-top: none;
  border-bottom: none;
  margin-bottom: 10px !important;
}

.tab-content p {
  margin-left: 2em;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #787df4;
}

ion-icon {
  margin-top: 5px;
}

ion-toggle {
  // position: absolute;
  // right: 1.5cm;
  height: 21px;
  width: 39px;
  --handle-spacing: 1px;
  --background-checked: #128f07;
  --handle-background-checked: #fff;
}

.top-text {
  display: flex;
  align-items: center;
  overflow: hidden !important;

  p {
    font-size: 12px;
  }
}

p.left-text {
  border: 1px solid #ff9a3e;
  border-radius: 10px;
  padding: 0 10px;
  font-size: 8px !important;
  color: #ff9a3e !important;
}

p.sub-text {
  color: grey !important;
  margin: 0 !important;
  margin-bottom: 5px !important;
  margin-left: 25px !important;
}

i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 20px;
  right: 35px;
  &:before {
    content: "";
    position: absolute;
    transition: all 0.3s;
    background-color: #787df4;
    width: 4px;
    height: 10px;
    transform: translate(0, -2px) rotate(-45deg);
  }
  &:after {
    transform: translate(0, 2px) rotate(45deg);
    transition: all 0.3s;
    content: "";
    position: absolute;
    background-color: #787df4;
    width: 4px;
    height: 10px;
  }
}

.tab input:checked ~ .tab-content {
  margin-top: 4px !important;
  max-height: fit-content;
  border-top: none;
  border-bottom: 1px solid #787df4;
}
.tab input:checked ~ .tab-content2 {
  margin-top: -15px !important;
}

input[type="checkbox"] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  touch-action: manipulation;
  &:checked {
    ~ {
      label i {
        &:before {
          transform: translate(2px, 0) rotate(45deg);
        }
        &:after {
          transform: translate(-2px, 0) rotate(-45deg);
        }
      }
    }
  }
}

.row {
  display: flex;
}

.col-1 {
  flex-basis: 10%;
  text-align: right;
  color: #787df4;
}

.col-2 {
  flex-basis: 70%;
}

.toggleBtnEnd {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}
.rowMargin {
  display: flex;
  margin: 20px 15px;
}

.rowMarginSmall {
  display: flex;
  margin: 5px 15px;
}

.margin-left {
  margin-left: 15px;
}

.margin-right {
  margin-right: 20px;
}

.blue-text {
  color: #787df4;
}

.orange-text {
  color: #ff9a3e;
}

.grey-text {
  color: #7b7b7b;
}

.border {
  font-size: 8px;
  border: 2px #ff9a3e solid;
  border-radius: 10px;
  padding: 5px 15px;
  margin-left: 10px;
}

.border-bottom {
  border-bottom: 1px solid #787df4;
}
